#autogluon 3.12 november supports python 3.12
jupyter==1.1.1
pandas==2.2.3
matplotlib==3.9.2
beautifulsoup4==4.12.3
SQLAlchemy==2.0.36
pydantic==2.9.2
# pdf libs
pypdf
PyMuPDF
pymupdf4llm
marker-pdf

# llm libs
kor
langchain
# llama-cpp-python, kann nicht lokal installiert werden über pypi, deswegen folgendes bei einer nvidia gpu:
# git clone --recursive -j8 https://github.com/abetlen/llama-cpp-python.git
# CODA_HOME=""C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.6" CMAKE_ARGS="-DGGML_CUDA=on" CUDACXX="C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.6\bin\nvcc.exe" FORCE_CMAKE=1 pip install -e . --force-reinstall --no-cache-dir --verbose
huggingface_hub
langchain-community
lm-format-enforcer